<%# app/views/offers/show.html.erb %>
<% if @offer.image_url.present? %>
  <div class="banner mb-4" style="height:33vh; background: url('<%= @offer.image_url %>') center center / cover no-repeat;"></div>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="offer-details show-box p-3">
        <h2 class="fw-bolder"><%= @offer.title %></h2>
        <hr>
        <div class="offer-description">
          <p><%= @offer.description %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="show-box mt-4 p-3">
        <h2 class="fw-bolder fs-4">Rezerwacja</h2>
        <%= form_for [@offer, @reservation] do |f| %>
          <div class="mb-3">
            <%= f.label :reservation_date, "Select date" %>
            <%= f.text_field :reservation_date,
        class: "form-control datepicker",
        placeholder: "YYYY-MM-DD",
        readonly: true,
        data: { 
          controller: "datepicker"
        } %>
          </div>
          <div class="mb-3">
            <%= f.label :reservation_time, "Select time" %>
            <div class="d-flex gap-2">
              <input type="radio" class="btn-check" name="reservation[time]" id="time-8" value="08:00" autocomplete="off">
              <label class="btn btn-outline-primary w-100" for="time-8">8:00 AM</label>
              <input type="radio" class="btn-check" name="reservation[time]" id="time-9" value="09:00" autocomplete="off">
              <label class="btn btn-outline-primary w-100" for="time-9">9:00 AM</label>
              <input type="radio" class="btn-check" name="reservation[time]" id="time-10" value="10:00" autocomplete="off">
              <label class="btn btn-outline-primary w-100" for="time-10">10:00 AM</label>
            </div>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <div class="me-3">
              <%= f.label :number_of_adults, "Liczba dorosłych" %>
              <%= f.number_field :number_of_adults, class: "form-control", min: 0 %>
            </div>
            <div class="border-start ps-3">
              <%= f.label :number_of_children, "Liczba dzieci" %>
              <%= f.number_field :number_of_children, class: "form-control", min: 0 %>
            </div>
          </div>
          <div class="text-center my-3">
            <%= f.submit "Rezerwuj", class: "btn btn-primary w-100" %>
          </div>
        <% end %>
      </div>
      <div class="show-box mt-4 p-3">
        <h2 class="fw-bolder fs-4">Masz pytania?</h2>
        <p>Jeżeli masz pytania skontaktuj się z zespołem - zadzwoń po 881 228 832</p>
      </div>
    </div>
  </div>
</div>
<!-- Inline script for initializing Tempus Dominus -->
<script>
  document.addEventListener("turbo:load", function() {
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      startDate: '2025-02-12',
      endDate: '2025-12-31',
      daysOfWeekDisabled: [0, 6], // Disable weekends
      todayHighlight: true
    });
  });
</script>
