<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>JubileeStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="d-flex flex-column h-100">
    <%= render "shared/navbar" %>
    <main class="flex-shrink-0">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>